@charset "UTF-8";
	/* styles for screens larger than 903px wide */
@media screen and (min-width: 903px){
 body {
	 background-color:#3399CC;	
 }
 
 #wrapper {
	 width: 90%
	 min-width: 800px;
	 max-height: 900px;
	 padding: 4em;
	 margin: 0 auto;
 }
 
 #header { 
	background-color:green;
	height:200px;
	background-image: url(iot3.png);
 }
 
 #content {
	maz-column-count:4;
	webkit-column-count:4;
	column-count: 4;
	maz-column-gap:40px;
	webkit-column-gap:41px;
	column-gap:41px;
 }
 
 #footer{	
 
 }
 }
	/* styles for screens up to 900 wide */
 @media screen and (min-width: 902px){
	  #wrapper {
	 width: 90%
	 min-width: 37.5em;
	 max-height: 64em;
	 padding: 4em;
	 margin: 0 auto;
 }
 
 #header { 
	background-color:green;
	height:200px;
	background-image: url(iot3.png);
 }
 
 #content {
	maz-column-count:4;
	webkit-column-count:4;
	column-count: 4;
	maz-column-gap:40px;
	webkit-column-gap:41px;
	column-gap:41px;
 }
 
 }
	 /* styles for screens up to 400 wide */
 @media screen and (min-width: px){
